<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/main.css"/>
    </head>

    <header>
        <h1>WEBTECH ASSIGNMENT 3</h1>
        <ul>
            <li><a href="/browse">Courses</a></li>
            <li><a href="/enrolled-courses">Enrolled courses</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>

    <body>
        <h1>Update account information</h1>

        <form action="/account/update/info" method="POST">
            <div>
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div>
                <label for="last_name">Last name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>

            <div>
                <label for="Academic level">Academic level</label>
                <select name="level" id="level">
                    <option value="BSc">BSc</option>
                    <option value="MSc">MSc</option>
                </select>
            </div>

            <div>
                <label for="programme">Programme</label>
                <select name="programme" id="programme">
                    <option value="Computer Science">Computer Science</option>
                    <option value="Physics and Astronomy">Physics and Astronomy</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Artificial Intelegance">Artificial Intelegance</option>
                </select>
            </div>

            <p>
                Please note; changing your programme or academic level will result in leaving all courses that do not match the new programme and academic level.
            </p>

            <button type="submit">Update</button>
        </form>

        <h1>Update password</h1>

        <form action="/account/update/pwd" method="POST">
            <div>
                <label for="password">Old password</label>
                <input type="password" id="password" name="old_password" required>
            </div>

            <div>
                <label for="password">New password</label>
                <input type="password" id="password" name="new_password" required>
            </div>

            <div>
                <label for="password">Confirm new password</label>
                <input type="password" id="confirm_password" name="confirm_new_password" required>
            </div>
            <button type="submit">Update</button>
        </form>

        <script src="/javascript/account-update.js"></script>
    </body>
</html>













