<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="main.css"/>
    </head>

    <header>
        <h1>WEBTECH ASSIGNMENT 3</h1>
        <ul>
            <li><a href="/browse">Courses</a></li>
            <li><a href="/enrolled-courses">Enrolled courses</a></li>
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </header>

    <body>
        <h1>Account</h1>

        <table>
            <tr>
                <td>
                    <b>student number</b>
                </td>
                <td id="student_number">

                </td>
            </tr>

            <tr>
                <td>
                    <b>first name</b>
                </td>
                <td id="first_name">

                </td>
            </tr>

            <tr>
                <td>
                    <b>last name</b>
                </td>
                <td id="last_name">

                </td>
            </tr>
            <tr>
                <td>
                    <b>programme</b>
                </td>
                <td id="programme">

                </td>
            </tr>
            <tr>
                <td>
                    <b>academic level</b>
                </td>
                <td id="level">

                </td>
            </tr>
        </table>

        <hr>

        <a href="/account/update">Update account info</a>

        <script src="javascript/account.js"></script>
    </body>
</html>
