<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Update Account</title>
        <link rel="stylesheet" href="/main.css" />
        <meta charset="UTF-8" />
        <meta name="keywords" content="Mamida Student, Account, Update account">
        <meta name="description" content="Update your account information for Mamida Student">
    </head>

    <body>
        <header>
            <h1><a href="/browse">mamida student</a></h1>
            <ul>
                <li><a href="/browse">Courses</a></li>
                <li><a href="/enrolled-courses">Enrolled courses</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </header>
        <h1>Update account information</h1>

        <form action="/account/update/info" method="POST">
            <div>
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div>
                <label for="last_name">Last name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>

            <div>
                <label for="level_programme">Programme</label>
                <select name="level_programme" id="level_programme">
                    <option value="BSc|Computer Science">BSc - Computer Science</option>
                    <option value="BSc|Physics and Astronomy">BSc - Physics and Astronomy</option>
                    <option value="BSc|Mathematics">BSc - Mathematics</option>
                    <option value="MSc|Artificial Intelegance">MSc - Artificial Intelegance</option>
                </select>
            </div>

            <p>
                Please note; changing your programme or academic level will result in leaving all courses that do not match the new programme and academic level.
            </p>

            <button type="submit">Update</button>
        </form>

        <h1>Update password</h1>

        <form action="/account/update/pwd" method="POST">
            <div>
                <label for="old_pass">Old password</label>
                <input type="password" id="old_pass" name="old_password" required>
            </div>

            <div>
                <label for="new_pass">New password</label>
                <input type="password" id="new_pass" name="new_password" required>
            </div>

            <div>
                <label for="conf_pass">Confirm new password</label>
                <input type="password" id="conf_pass" name="confirm_new_password" required>
            </div>
            <button type="submit">Update</button>
        </form>

        <script src="/javascript/account-update.js"></script>
    </body>
</html>













