<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Course Information</title>
        <link rel="stylesheet" href="/main.css" />
        <meta charset="UTF-8" />
        <meta name="keywords" content="Mamida Student, Course information">
        <meta name="description" content="Information about a course">
    </head>

    <body>
        <header>
            <h1><a href="/browse">mamida student</a></h1>
            <ul>
                <li><a href="/browse">Courses</a></li>
                <li><a href="/enrolled-courses">Enrolled courses</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </header>
        <table id="table">
            <tr>
                <td>
                    <b>title</b>
                </td>
                <td id="title">
                </td>
                <td rowspan="7">
                    <img src="" id="image" alt="image of the teacher">
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <b>code</b>
                </td>
                <td id="code">
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <b>programme</b>
                </td>
                <td id="programme">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>academic level</b>
                </td>
                <td id="level">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>faculty</b>
                </td>
                <td id="faculty">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>semester</b>
                </td>
                <td id="semester">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>teacher</b>
                </td>
                <td id="teacher">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>Avg. student rating</b>
                </td>
                <td id="rating">
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>description</b>
                </td>
                <td id="description" colspan="3">

                </td>
            </tr>
        </table>

        <hr>

        <h2>Rate this course</h2>

        <div class="container">
            <form action="/reviews/add" method="POST" id="rating_form">
                <select name="rating">
                    <option value="5">5 stars</option>
                    <option value="4">4 stars</option>
                    <option value="3">3 stars</option>
                    <option value="2">2 stars</option>
                    <option value="1">1 star</option>
                </select>

                <textarea rows="4" cols="40" placeholder="your review" name="content"></textarea>

                <br />

                <button type="submit">rate</button>
            </form>
        </div>

        <hr>

        <h2>Other reviews</h2>

        <script src="/javascript/course-details.js"></script>
    </body>
</html>