<!DOCTYPE html>
<html lang="en">
    <head>

    </head>

   <header>
        <h1>Course Details</h1>
        <div id="default">
            <ul>
                <li><a href="/">Courses</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>

        <div id="auth">
            <ul>
                <li><a href="/">Courses</a></li>
                <li><a href="/enrolled-courses">Enrolled courses</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </header>

    <body>
        <script src="/javascript/course-details.js"></script>
    </body>
</html>
