<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Course Information</title>
        <link rel="stylesheet" href="/main.css" />
        <meta charset="UTF-8" />
        <meta name="keywords" content="Mamida Student, Course information">
        <meta name="description" content="Information about a course">
    </head>

    <body>
        <header>
            <h1><a href="/">mamida student</a></h1>
            <ul>
                <li><a href="/">Courses</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </header>
        <table id="table">
            <tr>
                <td>
                    <b>title</b>
                </td>
                <td id="title">
                </td>
                <td rowspan="7">
                    <img src="" id="image" alt="image of the teacher">
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <b>code</b>
                </td>
                <td id="code">
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <b>programme</b>
                </td>
                <td id="programme">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>academic level</b>
                </td>
                <td id="level">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>faculty</b>
                </td>
                <td id="faculty">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>semester</b>
                </td>
                <td id="semester">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>teacher</b>
                </td>
                <td id="teacher">
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>Avg. student rating</b>
                </td>
                <td id="rating">
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <b>description</b>
                </td>
                <td id="description" colspan="3">
                </td>
            </tr>
        </table>

        <hr>

        <h2>Reviews</h2>

        <script src="/javascript/course-details.js"></script>
    </body>
</html>
