<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Courses</title>
        <link rel="stylesheet" href="/main.css" />
        <meta charset="UTF-8" />
        <meta name="keywords" content="Mamida Student, Index, Courses">
        <meta name="description" content="All the courses in Mamida Student are displayed here">
    </head>

    <body>
        <header>
            <h1><a href="/">mamida student</a></h1>
            <ul>
                <li><a href="/">Courses</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </header>
        <div class="wrapper">
            <div id=search>
                <h2>Search</h2>

                <div class="container">
                    <div>
                        <input type="text" name="course_name" id="course_name" placeholder="course name">
                    </div>

                    <div>
                        <select name="programme" id="programme">
                            <option value="*">All programmes</option>
                            <option value="Computer Science">Computer Science</option>
                            <option value="Physics and Astronomy">Physics and Astronomy</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Artificial Intelegance">Artificial Intelegance</option>
                        </select>
                    </div>

                    <div>
                        <select name="level" id="level">
                            <option value="*">All academic levels</option>
                            <option value="BSc">BSc</option>
                            <option value="MSc">MSc</option>
                        </select>
                    </div>

                    <div>
                        <select name="semester" id="semester">
                            <option value="*">All semesters</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <hr>

                    <button id="search_btn">Search</button>
                </div>
            </div>

            <div id="courses">
            </div>

            <button id="btn">Get More Courses</button>
            <script src="javascript/browse.js"></script>
        </div>
    <footer>
        All information displayed on this website was sourced from the <a href="https://osiris.uu.nl" target="_blank">Osiris Student system</a> and the <a href="https://www.uu.nl" target="_blank">Utrecht University website</a>.
        Information about the courses this website displays may not be accurate in any way. This website assumes no responsibility or liability for any errors or omissions in the content of this site.
    </footer>
    </body>
</html>
