<!DOCTYPE html>
<html lang="en">
    <head>
        <title>page not found</title>
        <link rel="stylesheet" href="main.css"/>
        <meta charset="UTF-8"/>
        <meta name="keywords" content="Mamida Student, 404 page not found, page not found">
        <meta name="description" content="the page doesn't exist">
    </head>

    <body>
        <header>
            <h1><a href="/"><img src="/mamida_logo.png" alt="mamida logo" style="width:300px"></a></h1>
            <ul>
                <li><a href="/">Courses</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </header>
        <article id="not_found">
            <h2>The page cannot be found</h2>
            <p>
                The page you were looking for cannot be found. <br>
                Return to the <a href="/">homepage</a> to continue using Mamida Student.
            </p>
        </article>
    </body>
</html>